.cardset-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 75px));
    /* grid-auto-rows: minmax(20vw, 220px);  */

margin: 0 auto;    
    transition: ease 0.3s;
  
}

.card-wrapper{
width:100vw;
background-color: red;


}

