.username-container{
    display: flex;
    flex-direction: column;
    color:white;
    align-items: center;
    position: absolute;
    bottom:15%;
    left:50%;
    transform: translateX(-50%);
    
}