#root {

  margin: 0 auto;
  background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(54, 0, 107, 1) 100%);
  text-align: center;
}

.homepage{
 width:100vw;
  background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(54, 0, 107, 1) 100%);
  /* background-image: url(./media/mountain-bg1.jpg); */



}

.game-title{
 transform: translateY(3rem);
 padding:0 0.3rem;
}

body button{
  /* color:red; */
  font-size: 0.6rem;
}

@media screen and (min-width:655px){
body button{
  font-size: 1rem;
}
}


