.scoreboard-container{
    width:15vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: min-content;
    position: absolute;
    top:20%
}

.matches{
    display: flex;
    justify-content: space-between;
}