.scoreboard-container{

    background-color: white;
    display: flex;
    flex-direction: column;
    height: min-content;
    /* position: absolute;
    top:10%;
    left:10%; */
    width:20vw;
    height:25vw;
  
  
  
  
  padding: 0;
  
  max-width: 220px;
  max-height: 200px;
  color:black
}

.matches{
    display: flex;
    justify-content: space-between;
}