.clock-container{
 width:100vw;
 position: relative;
 height:30vw;

}

 .time-container{
    width:20vw;
    background-color: antiquewhite;
    position: fixed;
    top:50%;
    left:0%;
    color:red;
    padding: 2rem;

}