.result-container{
    display: flex;
    width:100vw;
    flex-direction: column;
    justify-content: center;
}

.result-image{
    width:90vw;
    object-fit: cover;
    margin: 0 auto;
    height: 50vw;
}

#clown{
    object-position: 10% 10%;
    width:50vw;
    height:auto;
    max-width: 410px;
    max-height:380px ;
    
}

#itachi{
    max-width: 900px;
    
}