.carousel-image{
    height: 80vh;
    object-fit: cover;
   max-width: 800px;
   max-height: 1000px;
   margin:0 auto;
   width:90vw;
   /* object-position: 10% 70%; */
}

.carousel-container{
    height:100vh;
    width:90vw;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#image-1{
object-position: 0% 0%;
}

@media screen and (min-width:655px){
    .carousel-image{
        height:auto;
        margin:0 auto;
    }
}