.carousel-image{
    height: 80vh;
    object-fit: cover;
   max-width: 800px;
   /* max-height: 1000px; */
   margin:0 auto;
}

.carousel-container{
    height:100vh;
    display:flex;
    align-items: center;
}

#image-1{
object-position: 0% 0%;
}