.card {
   
  
    /* Responsive sizing */
  width:20vw;
    height: 30vw;
    display: block;
    box-sizing: border-box;
padding: 0;
margin: 0;
  
    /* Maintain aspect ratio and cover the container */
    object-fit: cover;

    background-color: black;

  }