.card {
   
  
    /* Responsive sizing */
  width:20vw;
  gap:1rem;
    /* height: 30vw; */


padding: 0;

  
    /* Maintain aspect ratio and cover the container */
    object-fit: cover;

    background-color: black;

  }