.card {
   
  
    /* Responsive sizing */
  width:20vw;

    /* height: 30vw; */


padding: 0;

max-width: 220px;
max

  
    /* Maintain aspect ratio and cover the container */
    object-fit: cover;

    background-color: black;

  }