.rules-container{
    position: fixed;
    top:10%;
    left:50%;
    transform: translateX(-50%);
    background-color: white;
    z-index: 500;
    width:80vw;
    /* height:40vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height:40vh;
}

.rules-container p{
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
}

.rules-contents{
    position: relative;
}

.navigation-buttons{
    /* position: absolute; */
    width:100%;
    display: flex;
    justify-content: space-between;
    background-color: red;
}

.rules-container button{
    margin-top: 3rem;
    margin-bottom: 2rem;
  /* transform: translateY(-3rem); */
}

