/* LoginBox.css */

.login-box {
    width: 90vw;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top:25%;
    left:50%;
    transform: translateX(-50%);
    background: linear-gradient(to bottom, #46144d, #8d008d);

color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .exit-button{
    position: fixed;
    top:0;
    right:10%;
    font-size: 2rem;
  }
  
  .login-box h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .login-box form {
    display: flex;
    flex-direction: column;
  }
  
  .login-box label {
    margin-bottom: 5px;
  }
  
  .login-box input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-box button {
    padding: 10px;
    background-color: #3e0059;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in;
  }
  
  .login-box button:hover {
    background-color: #ffffff;
    transition: all 0.3s ease-in;
    color:purple;
  }
  
  .login-box p {
    margin-top: 15px;
    text-align: center;
    
  }

  .toggle-mode-link{
    transition: all 0.3s ease-in;
  }

  .toggle-mode-link:hover{
    
    transform: scale(1.1);
    transition: all 0.3s ease-in;
  }
  