.leaderboard-container {
background-color: black;
    color:white;
    transform: translateY(3rem);
    width:80vw;
    height:80vh;
    margin: 0 auto;
    position: fixed;
    top:10%;
    left:50%;
    transform: translateX(-50%);
}

.user-score{
    color:white;
    width:70vw;
    display: flex;
    justify-content: space-around;
}

.leader-button{
    margin:0 autol
}