.countdown-text{
    position: absolute;
    top:38%;
    left:50%;
    transform: translateX(-50%);
    font-size: 5rem;
    color:white;
    z-index: 5;

}

.result-text{
    width:30vw;
    padding:2rem;
    font-size: 2rem;
    position: absolute;
    top:25%;
    left:50%;
    transform: translateX(-50%);
    z-index: 5;
}